.pb-menu {
  background: none;
}
.pb-menu li {
  cursor: pointer;
}
.pb-menu li.active {
  z-index: 1;
}
.pb-menu li.active .pb-item {
  background: #ff4086;
  border: 2px solid transparent;
  -webkit-animation: anim-scale 2s ease-in infinite;
          animation: anim-scale 2s ease-in infinite;
  text-transform: uppercase;
}
.pb-menu li.active .pb-item:hover {
  -webkit-animation: none;
          animation: none;
}
.pb-menu li.active .pb-item span {
  -webkit-animation: anim-icon 2s ease-in infinite;
          animation: anim-icon 2s ease-in infinite;
}
.pb-menu li::before {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.pb-menu li .pb-item {
  cursor: pointer;
  background: #8261b9;
  position: relative;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  z-index: 0;
}
@media (max-width: 1020px) {
  .pb-menu li .pb-item {
    border-color: transparent;
  }
}
.pb-menu li .pb-item b {
  font-weight: 600 !important;
}
.pb-menu li .pb-item span {
  margin-right: 10px;
  -webkit-transition: color 0.25s ease-in;
  -o-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}
@media (max-width: 1020px) {
  .pb-menu li .pb-item span {
    margin-right: 0;
    color: #fff;
  }
}
.pb-menu li .pb-item:before {
  content: "";
  width: 100%;
  height: 0;
  background: #ffdf7c;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  z-index: -1;
}
.pb-menu li .pb-item:hover::before {
  height: 100%;
}
.pb-menu li .pb-item:hover {
  color: #333;
  background: #ffdf7c;
  border-color: #ffdf7c;
}
.pb-menu li .pb-item:hover span {
  color: #9473ca;
}

@-webkit-keyframes anim-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0);
            box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0.6);
            box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0.6);
    border: 2px solid #fff;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0);
            box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0);
  }
}

@keyframes anim-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0);
            box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0.6);
            box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0.6);
    border: 2px solid #fff;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0);
            box-shadow: 0px 0px 20px 5px rgba(255, 64, 134, 0);
  }
}
@-webkit-keyframes anim-icon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes anim-icon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* ------------------- Modal -------------------- */
.modals {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  pointer-events: none;
}
.modals__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modals__content {
  width: 100%;
  max-width: 390px;
  max-height: 90%;
  margin: auto;
  margin-top: 15%;
  overflow: auto;
  background: #8261b9;
  border-radius: 4px;
  padding: clamp(1.5rem, 0.955rem + 2.73vw, 2.5rem);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  -webkit-box-shadow: 0px 40px 50px rgba(79, 53, 122, 0.6);
          box-shadow: 0px 40px 50px rgba(79, 53, 122, 0.6);
}
.modals__close {
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZyBpZD0iM2M5NGQ1ZjEiIG9wYWNpdHk9IjAuOCIgY2xpcC1wYXRoPSJ1cmwoIzU5MmI0Yjk1KSI+CiAgICA8ZyBpZD0iMTMxMjc3MmIiPgogICAgICA8ZyBpZD0iZDY3MGQyNGIiPgogICAgICAgIDxnIGlkPSI3MTk2YzgzNiI+CiAgICAgICAgICA8cGF0aCBpZD0iZjY0YTk0YmEiIGQ9Ik04IDYuNTMyMDRMMTQuNTMyIDBMMTYgMS40Njc5Nkw5LjQ2Nzk2IDhMMTYgMTQuNTMyTDE0LjUzMiAxNkw4IDkuNDY3OTZMMS40Njc5NiAxNkwwIDE0LjUzMkw2LjUzMjA0IDhMMCAxLjQ2Nzk2TDEuNDY3OTYgMEw4IDYuNTMyMDRaIiBmaWxsPSJ3aGl0ZSI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgICAgPC9nPgogICAgPC9nPgogIDwvZz4KICA8ZGVmcz4KICAgIDxjbGlwUGF0aCBpZD0iNTkyYjRiOTUiPgogICAgICA8cmVjdCB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9IndoaXRlIj48L3JlY3Q+CiAgICA8L2NsaXBQYXRoPgogIDwvZGVmcz4KPC9zdmc+");
  background-size: cover;
  position: absolute;
  top: 18px;
  right: 18px;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modals__close:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 1;
}
.modals__header {
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}
.modals__header-title {
  color: #fff;
  font-family: Oswald, serif;
  font-size: clamp(1.5rem, 0.5rem + 5vw, 2rem);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.modals__header-descr {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
  margin-top: clamp(0rem, -1rem + 5vw, 0.7rem);
}
.modals__footer {
  margin-top: 20px;
}
.modals input,
.modals textarea {
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  display: block;
  font: 16px/130% Source Sans Pro, sans-serif;
  height: 50px;
  padding: 0 20px;
  width: 100%;
}
.modals textarea {
  width: 100%;
  height: 86px !important;
  resize: none;
  padding-top: 15px;
}
.modals .btn {
  margin: 0;
}
.modals .privacy-policy {
  margin-top: 20px;
}
.modals span.lady-name {
  color: #ffdf7c;
}
.modals.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modals.is-active .modals__content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

@media (max-width: 480px) {
  .modals__close {
    width: 16px;
    height: 16px;
    top: 15px;
    right: 15px;
  }
  .modals__content {
    margin-top: auto;
  }
}
@media (max-width: 375px) {
  .modals__header {
    margin-bottom: 20px;
  }
  .modals__header-descr {
    font-size: 16px;
    margin-top: 10px;
  }
  .modals input {
    height: 45px !important;
  }
}
/* ------------------- / Modal -------------------- */
.modals-letter .modals__content {
  max-width: 680px;
}
.modals-letter .modals__header-title span {
  color: #ffdf7c;
}
.modals-letter__body {
  display: grid;
  grid-template-columns: 173px auto;
  gap: 30px;
}
.modals-letter .pb-pic-block {
  width: 100%;
  height: 267px;
  grid-area: inherit;
}
.modals-letter .pb-pic-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 600px) {
  .modals-letter__body {
    gap: 15px;
  }
}
@media (max-width: 599px) {
  .modals-letter__body {
    grid-template-columns: 1fr;
  }
  .modals-letter .pb-pic-block {
    display: none;
  }
}
@media (max-width: 480px) {
  .modals-letter .modals__header {
    margin-top: 10px;
  }
}
.modals-emailinfo {
  text-align: center;
}
.modals-emailinfo__text {
  font-size: 18px;
  color: #ffdf7c;
  margin-bottom: 10px;
}
.modals-emailinfo__text2 {
  color: #fff;
  padding: 15px;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.4;
  opacity: 0.8;
}

body {
  overflow-x: hidden !important;
}

.section_1 {
  padding-top: 30px;
}

.profile-block {
  overflow: inherit;
}